<!doctype html>

<html class="no-js" lang="en">

    <head>

        <title>Site title</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link rel="stylesheet" href="css/style.css">

        <base href="/">

    </head>

    <body ng-app="AdminApp">

        <div class="top-bar-container" data-sticky-container>
            <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                <nav data-magellan class="hide-for-small-only">
                    <div class="top-bar hide-for-small-only" id="full-menu">
                        <div class="top-bar-left hide-for-small-only">
                            <ul class="menu">
                                <li class="menu">
                                    <a href="/">
                                        <b>Site title</b>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-bar-right hide-for-small-only">
                            <ul class="menu">
                                <li class="menu"><a href="/logout">[[ 'LOGOUT' | translate ]]</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row align-center align-middle">
            <div class="small-12 medium-12 large-9 columns" id="admin" ng-controller="AdminController">

                <div class="row align-stretch" id="menu">
                    <div class="columns">
                        <div class="card">
                            <div class="content">
                                <div style="float:left;"  class="title-button"><a href="#" ng-click="showNew()" class="large expanded button">Add New Opportunity</a></div>
                                <div style="float:right;" class="title-button"><a href="#" ng-click="showAll()" class="large expanded button">Opportunities</a></div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row align-stretch" id="new" ng-class="{'hidden':newFlag}">
                    <div class="columns">
                        <div class="card">
                            <div class="content">
                                <div id="slide1" ng-class="{'hidden':slide1Flag}">
                                    <div class="title">End customer information</div>
                                    <input type="text"   name="client_name"  id="client_name"  ng-model="partner.client_name"  placeholder="Official Client Name" />
                                    <input type="text"   name="address"      id="address"      ng-model="partner.address"      placeholder="Client Company Address" />
                                    <input type="text"   name="country"      id="country"      ng-model="partner.country"      placeholder="Country" />
                                    <input type="text"   name="state"        id="state"        ng-model="partner.state"        placeholder="State / Province" />
                                    <input type="text"   name="city"         id="city"         ng-model="partner.city"         placeholder="City" />
                                    <input type="text"   name="postcode"     id="postcode"     ng-model="partner.postcode"     placeholder="Postal Code" />
                                    <input type="url"    name="website"      id="website"      ng-model="partner.website"      placeholder="Client Website" />
                                    <input type="number" name="data_centers" id="data_centers" ng-model="partner.data_centers" placeholder="How many data centers?" />
                                    <input type="text"   name="ip_reachable" id="ip_reachable" ng-model="partner.ip_reachable" placeholder="Are they IP reachable?" />
                                    <div style="float:right;" class="title"><a href="#" ng-click="showSlide2()" class="large button">Next</a></div>
                                </div>

                                <div id="slide2" ng-class="{'hidden':slide2Flag}">
                                    <div class="title">Opportunity information</div>
                                    <fieldset class="large-12 cell">
                                        <legend>Primary use Case (Select One)</legend>
                                        <input type="radio" name="use_case" value="Cloud"       ng-model="partner.use_case" id="cloud" required><label for="cloud">Cloud Transformation</label><br>
                                        <input type="radio" name="use_case" value="Disaster"    ng-model="partner.use_case" id="disaster">      <label for="disaster">Disaster Recovery</label><br>
                                        <input type="radio" name="use_case" value="Security"    ng-model="partner.use_case" id="security">      <label for="security">Security</label><br>
                                        <input type="radio" name="use_case" value="Performance" ng-model="partner.use_case" id="performance">   <label for="performance">Performance Trending</label><br>
                                        <input type="radio" name="use_case" value="ITSM"        ng-model="partner.use_case" id="itsm">          <label for="itsm">ITSM/CMDB Updates</label><br>
                                        <input type="radio" name="use_case" value="LAN"         ng-model="partner.use_case" id="lan">           <label for="lan">LAN Segmentation</label><br>
                                        <input type="radio" name="use_case" value="Asset"       ng-model="partner.use_case" id="asset">         <label for="asset">Asset & Software Lifecycle Analysis</label><br>
                                    </fieldset><br>
                                    <input type="number" name="servers" id="servers" ng-model="partner.servers" placeholder="Estimated Number of Servers" />
                                    <fieldset class="large-12 cell">
                                        <legend>On Premises Solution Required (Yes/No)</legend>
                                        <input type="radio" name="premise" value="Yes" ng-model="partner.premise" id="yes" required><label for="yes">Yes</label><br>
                                        <input type="radio" name="premise" value="No"  ng-model="partner.premise" id="no">          <label for="no">No</label><br>
                                    </fieldset><br>
                                    <input type="text" name="timeframe"   id="timeframe"   ng-model="partner.timeframe"   placeholder="Expected timeframe for purchase" />
                                    <input type="text" name="description" id="description" ng-model="partner.description" placeholder="Describe the Opportunity" />
                                    <div style="float:left;"  class="title"><a href="#" ng-click="showSlide1()" class="large button">Back</a></div>
                                    <div style="float:right;" class="title"><a href="#" ng-click="showSlide3()" class="large button">Next</a></div>
                                </div>

                                <div id="slide3" ng-class="{'hidden':slide3Flag}">
                                    <div class="title">What modules would you like</div>
                                    <fieldset class="large-12 cell">
                                        <input type="radio" name="module" value="Foundation"  ng-model="partner.module" id="foundation" required><label for="foundation">Foundation</label><br>
                                        <input type="radio" name="module" value="Migration"   ng-model="partner.module" id="migration">          <label for="migration">Migration</label><br>
                                        <input type="radio" name="module" value="Performance" ng-model="partner.module" id="performance">        <label for="performance">Performance and Trending</label><br>
                                        <input type="radio" name="module" value="Security"    ng-model="partner.module" id="security">           <label for="security">Security</label><br>
                                    </fieldset><br>
                                    <div class="title">Opportunity Optimization</div>
                                    <input type="number" name="burst" id="burst" ng-model="partner.burst" placeholder="Burst" />
                                    <input type="number" name="ccl"   id="ccl"   ng-model="partner.ccl"   placeholder="CCL" />

                                    <div style="float:left;"  class="title"><a href="#" ng-click="showSlide2()" class="large button">Back</a></div>
                                    <div style="float:right;" class="title">
                                        <div class="form-actions">
                                            <button type="submit" class="large button">Submit</button>
                                            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-stretch" id="all" ng-class="{'hidden':allFlag}">
                        <div class="columns">
                            <div class="card">
                                <div class="content info">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>Customer</td>
                                            <td>Date Submitted</td>
                                            <td>Date Expected Close</td>
                                            <td>Total Value</td>
                                            <td>PDF</td>
                                            <td>Edit</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>01.01.2019.</td>
                                            <td>15.07.2019.</td>
                                            <td>10</td>
                                            <td>PDF</td>
                                            <td>Edit</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

        <script></script>

        <script async src="js/script.js"></script>

    </body>

</html>