<!doctype html>

<html class="no-js" lang="en">

    <head>

        <title>Site title</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link rel="stylesheet" href="css/style.css">

        <base href="/">

    </head>

    <body ng-app="PanelApp">

        <div class="top-bar-container" data-sticky-container>
            <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                <nav data-magellan class="hide-for-small-only">
                    <div class="top-bar hide-for-small-only" id="full-menu">
                        <div class="top-bar-left hide-for-small-only">
                            <ul class="menu">
                                <li class="menu">
                                    <a href="/">
                                        <b>Site title</b>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-bar-right hide-for-small-only">
                            <ul class="menu">
                                <li class="menu"><a href="/logout">[[ 'LOGOUT' | translate ]]</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row align-center align-middle">
            <div class="small-12 medium-12 large-9 columns" id="user" ng-controller="UserController">

                <div class="card">
                    <div class="content">
                        <div style="float:left;" class="title">[[ 'ABOUT' | translate ]]</div>
                        <table>
                            <tbody>
                            <tr>
                                <td>[[ 'NAME' | translate ]]</td>
                                <td>[[ data.name ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'SURNAME' | translate ]]</td>
                                <td>[[ data.surname ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'EMAIL' | translate ]]</td>
                                <td>[[ data.email ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'PHONE' | translate ]]</td>
                                <td>[[ data.phone ]]</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <br>
                            <a target="_self"  ng-click="downloadPDF()" id="xml" class="button">[[ 'PDF' | translate ]]</a>
                        </div>
                    </div>
                </div>



                <div class="card" ng-show="data.university.executor_name == null">
                    <div class="action" style="background: red;"></div>
                    <div class="content">
                        <div class="title">[[ 'SP_INFO' | translate ]]</div>
                        <div>[[ data.university.executor_name ]][[ 'NO_SP' | translate ]]</div>
                    </div>
                </div>

                <div class="card" ng-repeat="sp in data.university.study" ng-show="data.university.executor_name != null">
                    <div class="action" style="background: green;"></div>
                    <div class="content">
                        <div class="title">[[ 'SP_INFO' | translate ]]</div>
                        <table>
                            <tbody>
                            <tr>
                                <td>[[ 'EXECUTOR' | translate ]]</td>
                                <td>[[ data.university.executor_name ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'STUDY' | translate ]]</td>
                                <td>[[ sp.title ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'STATUS' | translate ]]</td>
                                <td>[[ sp.status ]]</td>
                            </tr>
                            <tr>
                                <td>[[ 'DATE_FINISHED' | translate ]]</td>
                                <td>[[ sp.sp_end ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <script async src="js/script.js"></script>

    </body>

</html>