.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.16), 1px 2px 10px 1px rgba(0, 0, 0, 0.12);
  color: #272727;
  margin: 10px 0 20px 0;
  padding-bottom: 1rem;
  display: block;
  min-width: 20rem;

  .title-card {
    max-width: 720px;
  }

  .title-button {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1em;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 20px 0 20px 0;
  }


  .content {
    padding: 1.1rem 2rem 1.1rem 2rem;
    font-weight: 300;

    p {
      align-content: center;
      font-size: 0.85rem;
    }
  }

  @media screen and (max-device-width: 450px)  {
    .content {
      padding: 0.5rem 0.7rem 0.5rem 0.7rem;
      font-weight: 200;
      font-size: 80%;

      p {
        align-content: center;
        font-size: 0.85rem;
      }
    }
  }


  p {
    margin: 0;
  }

  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1rem;
  }

  a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
  }

  .image {
    position: relative;
    height: 200px;
    overflow: hidden;

    .picture {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .title-image {
    width: 100%;
  }

  table {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    width: 100%;

    thead, tbody, tfoot {
      border: none;
      background-color: $white;
    }

    // Caption
    caption {
      font-weight: $global-weight-bold;
      padding: $table-padding;
    }

    // Table rows
    tbody {
      width: 100%;
      tr {
        padding: 2px 0.56rem 2px 0.56rem;
        min-width: 10px;
        background-color: $white;
      }

      th, td {
        padding: 2px 0.56rem 2px 0.56rem;
        min-width: 10px;
      }
    }
  }
}