@mixin borealis_form_elements {
  label {
    font-size: 1em;
    text-align: left;
    float: left;
  }

  input {
    width: 100%;
    float: left;
  }

  button {
    float: left;
    margin-bottom: 20px;
  }

  a {
    margin-top: 10px;
    float: left;
  }

  #accept_checkbox {
    margin-top: 0.4rem;
    width: 2rem;
  }

  .error {
    margin: 10px;
    float: left;
  }

  .input-error {
    border-color: red;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1d3e51;
    border-bottom: 16px solid #1d3e51;
    margin: 5rem auto 0 auto;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.recaptcha {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.g-recaptcha {
  display: inline-block;
  margin: auto;
}

.borealis_form {
  margin-top: 15px;
  width: 90%;
  max-width: 25rem;

  @include borealis_form_elements();
}