.login-card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.16), 1px 2px 10px 1px rgba(0, 0, 0, 0.12);
  color: #272727;
  margin: 2em 0 0 0;
  min-width: 10em;
  max-width: 35em;

  p {
    margin: 0;
  }

  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1rem;
  }

  a {
    color: white;
    transition: color 0.3s ease;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .image {
    width: 100%;
  }

  .footer {
    height: 3.5rem;
    background-color: #4472C4;
  }
}

.login {
  width: 90%;
}