@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'card';
@import 'login-card';
@import 'form';

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
//@include foundation-callout;
@include foundation-close-button;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
@include foundation-menu;
//@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
//@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.hidden {
  display: none;
}

.top-bar-container {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.sticky {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}
*:hover > .fa.fa-hover-show {
  display: inline-block;
}

.is-active .tabs-title .fa {
  color: black;
}

.fa {
  cursor: pointer;
}

.fa-question-circle {
  color: grey;
}

.fa-exclamation-circle {
  color: yellow;
}

.fa-check-circle {
  color: green;
}

.fa-ban {
  color: red;
}

.redborder {
  border: solid 2px red;
}

@media screen and (max-device-width: 450px)  {
  #application {
    font-size: 80%;
  }
}